






<div id="formulaire">
<%= form_for @message, url: contact_path do |f| %>
  <%= notice %>
  <%= @message.errors.full_messages.join(', ') %>
  <%= f.text_field :first_name, placeholder: 'first name' %>
  <%= f.text_field :last_name, placeholder: 'last name' %>
  <%= f.email_field :email, placeholder: 'email' %>
  <%= f.text_area :body, placeholder: 'body' %>
  <%= f.submit 'Send' %>
<% end %>

</div>