<!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Le programme de votre formation</h2>
                            
                        </div>
                    </div>
                </div>
            </div>   
        </section><!--/#Page header-->


        <!-- 
        ================================================== 
            Service Page Section  Start
        ================================================== -->
        <section id="service-page" class="pages service-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block">
                            <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Votre apprentissage</h2>
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">Nous vous ferons faire connaissance avec l'écriture de scripts, ainsi que les différents langages et frameworks nécessaires à la réalisation d'un site complet. Vous saurez ainsi comment créer un site internet : comment le penser puis comment l'exécuter.</p>
                            <div class="row service-parts">
                                <div class="col-md-6">
                                    <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                        <%= image_tag('html_logo.png', class: "ion-ios-paper-outline")%>
                                        <h4>HTML/CSS</h4>
                                        <p>Vous apprendrez à réaliser un site sur la partie front-end, pour faire de jolis sites qui plairont à vos clients.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="800ms">
                                        <%= image_tag('javascript_logo.png', class: "ion-ios-paper-outline")%>
                                        <h4>JavaScript</h4>
                                        <p>Vous découvrirez comment faire vivre votre site et comment améliorer l'experience du visiteur.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1s">
                                        <%= image_tag('ruby_logo.png', class: "ion-ios-paper-outline")%>
                                        <h4>Ruby</h4>
                                        <p>Avec Ruby vous découvrirez le scrapping de data, l'utilisation du deep web et la création de méthodes et d'objets.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1.1s">
                                        <%= image_tag('rails_logo.png', class: "ion-ios-paper-outline")%>
                                        <h4>Ruby on Rails</h4>
                                        <p>Découvrez le framework le plus populaire dans le milieu des start-ups. Il vous permettra de rapidement coder un site internet fonctionnel utilisant des bases de données.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="block">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                            <%= image_tag('cours.jpg', class: "img-responsive")%>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- 
        ================================================== 
            Works Section Start
        ================================================== -->
        <section class="works service-page">
            <div class="container">
                <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">11 semaines de travail</h2>
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                        Les deux premières semaines seront consacrées à l'apprentissage des bases de la programmation web (refaire la home page de google, jouer avec des fenêtres qui explosent, etc.).<br> La troisième semaine sera consacrée à l'apprentissage d'un peu de "computer science", puis vous apprendrez à jouer avec des méthodes et des classes pour réaliser des scripts (de growth hacking par exemple).cEnsuite, pendant 3 semaines vous plongerez dans le milieu de Ruby on Rails, le plus célèbre des framework de Ruby. Avec lui vous serez capable de coder votre site en trois semaines. Ensuite vous replongerez 2 semaines dans le front end pour faire de jolis sites. Puis les deux dernières semaines seront consacrées au travail en équipe et vous permettront de vous préparer pour votre vie après la formation.
                    </p>
                <div class="row">
                    <div class="col-sm-3">
                         <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                            <div class="img-wrapper">
                                 <%= image_tag('takeoff.jpg', class: "img-responsive")%>
                            </div>
                            <figcaption>
                                <h4>
                                    <a >
                                        2 semaines (on décolle ensemble)       
                                    </a>
                                </h4>
                                <p>
                                    S'initier aux outils du développeur. Git et le terminal.
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-sm-3">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="img-wrapper">
                                <%= image_tag('warmup.jpg', class: "img-responsive")%>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="#">
                                        4 semaines (on se prépare pour le back)     
                                    </a>
                                </h4>
                                <p>
                                    On aborde le computer science, les bases de Rails.
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-sm-3">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="img-wrapper">
                                <%= image_tag('makeup.jpg', class: "img-responsive")%>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="#">
                                        3 semaines (séance maquillage)    
                                    </a>
                                </h4>
                                <p>
                                    Tu apprends à faire des très beaux sites.
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-sm-3">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="600ms">
                            <div class="img-wrapper">
                               <%= image_tag('parti.jpg', class: "img-responsive")%>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="#">
                                        2 semaines (lance ton projet)        
                                    </a>
                                </h4>
                                <p>
                                    Toi et ton groupe vous travaillez ensemble sur un site que vous codez de A à Z.
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                   

                </div>
            </div>
        </section>
        <!-- 
        ================================================== 
            Clients Section Start
        ================================================== -->
        <section id="clients">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="subtitle text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".3s">Date de début des prochaines sessions</h2>
                        <p class="subtitle-des text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".5s">Chaque session dure 11 semaines à plein temps, de 9h à 18h tous les jours ouvrés. Tu souhaites t'inscrire ? Clique sur les dates qui te conviennent.</p>
                        <div  class="text-center">
                            <div>
                                <h2><%= link_to ('Prochaine session : début le 02/10/2017'),"www.google.com"%></h2>
                            </div>
                            <div>
                                <h2><%= link_to ('Session hiver 2018 : début le 08/01/2018'),"www.google.com"%></h2>
                            </div>
                            <div>
                                <h2><%= link_to ('Session printemps 2018 : début le 02/04/2018'),"www.google.com"%></h2>
                            </div>
                            <div>
                                <h2><%= link_to ('Session été 2018 : début le 02/07/2018'),"www.google.com"%></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>





        <!-- 
        ================================================== 
            Call To Action Section Start
        ================================================== -->
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2 class="title wow fadeInDown" data-wow-delay=".3s"   data-wow-duration="500ms">PHILOSOPHIE ?</h1>
                            <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Vous souhaitez en savoir plus sur The_Hacking_Project ? Comment ? Pourquoi ? Quelles sont nos sources de revenus ?</p>
                            <%= link_to ("J'en veux plus!"), philosophie_path, class:"btn btn-default btn-contact wow fadeInDown"%>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
