 <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>THE HACKING PROJECT, Vos questions, nos réponses</h2>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>






<section class="company-description">
	<div class="container">
			 <div class="row">
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                        <%= image_tag ('charles_hangar.jpg'), class:"img-responsive"%>
                    </div>
                    <div class="col-md-6">
                        <div class="block">
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Comment vous faites de l'argent ?</h2>
                            <p  class="wow fadeInUp" data-wow-delay=".5s" >
                                1. Nous vous proposons du travail en fin de formation, en échange de cette mise en relation nous sommes gratifiés par la société qui vous recrute.<br>
                                2. Nous passons des partenariats avec des écoles payantes.<br>
                                3. Nous donnons des cours payants en entreprise.<br>
                                4. Nous vous proposons de faire des dons en fin de formation si vous avez été satisfaits.<br>
                                5. Nous avons un taux d'abandon constant de 10 à 15% environ qui nous amène un peu de liquidités.<br>
                            </p>
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Je ne suis pas disponible à plein temps. Possible de faire du temps partiel ?</h2>
                            <p  class="wow fadeInUp" data-wow-delay=".7s" >
                                Non ! On est une formation exigeante et challengeante. Nous accepterons si tu veux bien nous payer 1 500€ et que tu veux échouer ta formation mais tu seras prévenu que l'on a décidé de t'arnaquer.
                            </p>
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s">Moi je veux des profs qui me donnent des cours. Il y en aura ?</h2>
                            <p  class="wow fadeInUp" data-wow-delay=".7s" >
                                Pas au sens ou l'éducation nationale l'entend. Il y aura des développeurs seniors et d'autres corsaires avec un bon niveau mais pas de professeurs qui donnent des cours devant une classe. Tu auras le droit à des vidéos d'explications... Et sur le Slack des explications te seront données par des camarades qui auront compris avant toi comment fonctionne tel ou tel élément.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
	</div>

	
	<div class="container">
			 <div class="row">
                    
                    <div class="col-md-6">
                        <div class="block">
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Et si il n'y a personne dans la ville dans laquelle j'habite? ?</h2>
                            <p  class="wow fadeInUp" data-wow-delay=".5s" >
                                Nous te proposons :<br>
                                1. De recruter quelqu'un qui recrutera quelqu'un qui recrutera quelqu'un, etc... jusqu'à ce que ton groupe soit constitué.
                                2. De déménager le temps de la formation sur Paris ou sur la grande ville proche de chez toi.
                            </p>
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Il y a un système de "groupe de travail", comment ca marche ?</h2>
                            <p  class="wow fadeInUp" data-wow-delay=".7s" >
                                On a compris avec notre première session que c'est le fait de travailler en équipe qui te permettra d'avancer et de réussir les projets. L'équipe permet de se surpasser, et l'esprit de corps soude les gens. Nous allons donc prendre toute la communauté de The_Hacking_Project et constituer des équipes de 6-8 personnes qui travailleront ensemble sur les projets. Vous vous retrouverez tous les matins, prendrez un café, et vous mettrez ensemble au taff. Et irez très probablement prendre une bière ensemble le soir ! Bien entendu, si tu motives 5-6 potes à toi et que vous avez envie de vous mettre ensemble, aucun souci pour cela !
                            </p>
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Vous n'avez pas de salles de classe ? Comment on fait pour se retrouver et travailler ensemble ?</h2>
                            <p  class="wow fadeInUp" data-wow-delay=".7s" >
                                On vous donne totale autonomie sur la notion d'emplacement géographique. Si ton équipe a envie de se retrouver chez l'un d'entre vous sur des canapés, vous êtes libres de le faire. Si ton équipe décide de tester tous les cafés coworking de votre ville, vous êtes libres de le faire. Si ton équipe décide de se cotiser ensemble pour prendre des locaux, vous êtes libres de le faire. Si ton équipe trouve un parc avec du wifi et des prises, vous êtes libres de le faire.

                                Par ailleurs nous sommes en contact avec le milieu du squat et avons des "bons plans" pour vous permettre de travailler dans un lieu propre et qui ne vous coûtera rien :).
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                    <br>
                    <br>
                        <%= image_tag ('group_peniche.jpg'), class:"img-responsive"%>
                    </div>
                </div>
            </div>
	</div>

	
	<div class="container">
			 <div class="row">
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                    <br>
                    <br>
                        <%= image_tag ('marseille.jpg'), class:"img-responsive"%>
                        <br>
                    <br>
                        <%= image_tag ('thp_latapie.jpg'), class:"img-responsive"%>
                    </div>
                    <div class="col-md-6">
                        <div class="block">
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Quel matériel faut-il?</h2>
                            <p  class="wow fadeInUp" data-wow-delay=".5s" >
                               PC (minimum 13 pouces), ou Mac. 
                               Pour la puissance tout dépend de ce que tu souhaites faire après la formation et si tu as déjà, oui ou non, un ordinateur. On te recommande d'acheter un PC d'environ 800€-900€ (évite les portable de 17 pouces, quand tu te déplaceras ca deviendra casse pieds). Le minimum à mettre pour ton PC (juste pour la formation): 300€.
                               Il vous sera demandé, pour les utilisateurs de Windows de faire un "dual boot" sur votre machine et d'installer Linux. Nous n'acceptons aucune pleurnicherie et aucune remarque sur le cursus ou sur des bugs éventuels et n'assurerons pas le SAV si vous décidez de garder Windows pour apprendre. En ce qui concerne les machines virtuelles nous vous déconseillons leur utilisation.
                            </p>
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Vous parlez de 42 comme une référence. En quoi êtes-vous semblables et différents à la fois ?</h2>
                            <p  class="wow fadeInUp" data-wow-delay=".7s" >
                                42 est une énorme inspiration pour nous. Leur esprit, leur logique, leur façon d'enseigner... Tout nous plaît dans cette école. Nous avons deux différences majeures avec 42 : Notre formation est en 11 semaines. La leur en 24 mois (si tu es bon).
                                Ils ont de superbes locaux, nous vous proposons le système D, la débrouille et les squats. N'est pas corsaire qui veut :p.
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
	</div>

	
	
	<div class="container">
			 <div class="row">
                    
                    <div class="col-md-6">
                        <div class="block">
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Quelles sont les débouchés après la formation ?</h2>
                            <p  class="wow fadeInUp" data-wow-delay=".5s" >
                                1. Tu t'es baladé pendant la formation, tu as une formation technique de base : on te trouve un CDI comme Développeur junior (libre à toi de refuser le taf).<br>
                                2. Tu as galéré pendant la formation mais tu aimes et et tu nous a prouvé que tu en voulais : On te recommande pour une formation diplomante en alternance avec une école partenaire gratuite pour toi.<br>
                                3. Tu es entrepreneur? A toi ton MVP ;)<br>
                                4. Tu veux être freelance : on te met en contact avec des devs qui ont besoin de petites mains pour avancer.<br>
                                5. Tu veux profiter de tes nouvelles compétences mais rester dans ton ancien domaine d'activitév? On push ton profil auprès de nos partenaires chasseurs de tête.<br>
                            </p>
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Je n'ai pas le temps de faire la formation mais j'ai envie de vous soutenir, comment faire ?</h2>
                            <p  class="wow fadeInUp" data-wow-delay=".7s" >
                                C'est très simple, tu peux nous faire un don en cliquant ICI. Tu peux parler de nous tout autour de toi. Parler à des journalistes, à tes amis, à ta maman, bref fais du bruit !
                            </p>
                           
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                    <br>
                    <br>
                    <br>
                        <iframe style="width: 100%; height: 400px;" src="https://www.youtube.com/watch?v=FjwfkdcA2j8" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
	</div>


	<!--
        ==================================================
        Call To Action Section Start
        ================================================== -->
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Je veux m'inscrire ou prendre contact avec vous!</h1>
                            <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms"></p>
                            <%= link_to ("Je veux m'inscrire"), inscription_path, class:"btn btn-default btn-contact wow fadeInDown"%>
                            <%= link_to ("Je veux prendre contact"), contact_path, class:"btn btn-default btn-contact wow fadeInDown"%>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
