<!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>THE HACKING PROJECT, Thèse, Anti-Thèse</h2>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 
        ================================================== 
            Company Description Section Start
        ================================================== -->
        <section class="company-description">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                        <%= image_tag ('charles_foule.jpg'), class:"img-responsive"%>
                    </div>
                    <div class="col-md-6">
                        <div class="block">
                            <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Nous cultivons une vision différente</h3>

                            <h4 class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Mantra</h4>
                            <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                                Pour nous l'éducation est un bien beaucoup trop important pour n'être confié qu'à des organismes qui font payer leurs élèves plusieurs milliers d'euros par année. Nous souhaitons rendre l'apprentissage de l'informatique ouvert à tous et accessible au plus grand nombre. Comme notre nom l’indique, nous nous inspirons au maximum de l’esprit hacker . Nous encourageons l’accès libre à la connaissance, l’apprentissage par la débrouillardise et l’efficience dans la résolution de problèmes. Les hackers construisent des solutions efficaces et anticonformistes aux dysfonctionnements de ce monde. Apprendre à programmer n’est qu’un étape (fascinante) du voyage.</p>

                            <h4 class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Origines</h4>
                            <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                            The Hacking Project naît en Janvier 2017. Félix souhaite alors apprendre à coder, et Charles est à trois jours de signer un CDI dans une start-up. Puis Félix se rend compte qu'apprendre seul la programmation informatique, ce n'est pas facile, et ce n'est pas cool. Il décide donc de faire une publication Facebook. Charles la repère immédiatement et décide de partir à la conquête du code avec Félix et un groupe de joyeux hurluberlus. Il y a dans le premier groupe : Fabien le physicien nucléaire, Hugo le growth hacker nomade, Elise la marketeuse, Félix le product guy et Charles le business guy. Ensemble, ils décident de relever le défi de l'apprentissage du code. Pour le bien de tous, ils arrivent à finir la formation (non sans quelques dommages infligés au cerveau). 
                            </p>

                            <h4 class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Lancement</h4>
                            <p class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
                            Durant la formation Félix et Charles décident de s'associer, pour le meilleur et pour le pire. Ils décident donc de lancer une session de formation pour l'été 2017, qui durera 11 semaines, à temps plein. Au 3 juillet, plus de 80 corsaires décident de rejoindre l'aventure et apprennent à coder ensemble sur Ruby et Ruby on Rails. S'ensuivront de longues nuits et journées de travail pour adapter le cursus et le programme à des élèves exigeants et de différents niveaux (pour la session de juillet les cursus vont du polytechnicien au caporal-chef en ré-orientation professionnelle). Nous pensons que la méthode d'apprentissage de l'école 42 (pair-programming) est la meilleure méthode pour apprendre à coder et se rendre compte de l'importance du travail en équipe. Notre méthodologie a fait des émules et aujourd'hui nous travaillons avec l'ESSEC et l'INSEEC sur des cours d'informatique.  
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- 
        ================================================== 
            Company Feature Section Start
        ================================================== -->
        <section class="about-feature clearfix">
            <div class="container-fluid">
                <div class="row">
                    <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                        <h2>
                        Pourquoi choisir THP?
                        </h2>
                        <p>
                            Nous sommes gratuits, nous sommes exigeants, nous sommes ouverts, nous sommes innovants, nous sommes solidaires, nous sommes divers, nous sommes remarquables, nous sommes anormaux, nous sommes en avance. Si vous voulez comprendre pourquoi : venez nous rendre visite ou appelez nous.
                        </p>
                    </div>
                    <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                        <h2 class="item_title">
                        Ce que vous obtenez à la fin ? 
                        </h2>
                        <p>
                            Un boulot de développeur en CDI pour les meilleurs, un stage dans une start-up pour ceux qui ont besoin de garder des roulettes. Une augmentation importante de votre salaire si vous souhaitez rester dans votre métier de base. Enfin votre cerveau changera de configuration et sera orienté vers une vision différente du travail.
                        </p>
                    </div>
                    <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                        <h2 class="item_title">
                        Devenez un corsaire! 
                        </h2>
                        <p>
                            Devenez un corsaire du code avec un fort code d'honneur, et vous saurez maîtriser des technologies et des méthodes qui vous donneront des droits et des devoirs. Votre vie sera facilitée et vous aurez une longueur d'avance sur vos contemporains. Vous devrez donner après avoir reçu de cette formation.
                        </p>
                    </div>
                </div>
            </div>
        </section>


        <!-- 
        ================================================== 
            Team Section Start
        ================================================== -->
        <section id="team">
            <div class="container">
                <div class="row">
                    <h2 class="subtitle text-center">Les Co-fondateurs</h2>
                    <div class="col-md-6">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                            <div class="team-img">
                               
                                <%= image_tag ('cdpilote.jpg'), class:"team-pic"%>
                            </div>
                            <h3 class="team_name">Charles Dacquay</h3>
                            <p class="team_designation">DG - Biz guy</p>
                            <p class="team_text">"Pick up the phone and start dialing" est sa phrase favorite dans "The wolf of Wall Street". Commercial dans l'âme, il aime piloter ses projets autant que les avions. Passé entreprenarial, et une détermination en béton. </p>
                            
                        </div>
                    </div>
                   
                    <div class="col-md-6">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                            <div class="team-img">
                                <%= image_tag ('cccpfelix.jpg'), class:"team-pic"%>
                            </div>
                            <h3 class="team_name">Félix Gaudé</h3>
                            <p class="team_designation">CEO - Product guy</p>
                            <p class="team_text">"L'éducation, ça doit être gratuit !" est son mantra. Travailleur acharné, il a une forte experience des startup et de l'écosystème (passage chez Jam).</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--
        ==================================================
        Clients Section Start
        ================================================== -->
        <section id="clients">
            <div class="container">
                    <div class="row">
                    <div class="col-md-12">
                        <h2 class="subtitle text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Nos élèves parlent de nous</h2>
                        <p class="subtitle-des text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">Les premiers corsaires témoignent de leur experience</p>
                        
                            <div class="row">
                              <div class="col-sm-4 col-md-4">
                                <div class="thumbnail">
                                  <%= image_tag ('fefe.png'), class:"img-responsive"%>
                                  <div class="caption">
                                    <h3>Fabien (Docteur en Physique nucléaire)</h3>
                                    <p>"J'étais entre deux boulots, et The_Hacking_Project était la façon parfaite d'utiliser ce laps de 3 mois : je voulais apprendre de nouveaux langages pour réaliser mes projets persos. L'aspect des équipes qui étaient dans la même merde était un vrai moteur."</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-4 col-md-4">
                                <div class="thumbnail">
                                  <%= image_tag ('fefe.png'), class:"img-responsive"%>
                                  <div class="caption">
                                    <h3>Félix (Ex-jam, CEO The Hacking Project)</h3>
                                    <br>
                                    <p>"Je peux prétendre à être développeur et crois en ce modèle d'éducation; du coup j'ai décidé de lancer d'autres sessions The_Hacking_Project."</p>
                                    <br>
                                    <br>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-4 col-md-4">
                                <div class="thumbnail">
                                  <%= image_tag ('ugo.jpg'), class:"img-responsive"%>
                                  <div class="caption">
                                    <h3>Ugo (Growth Hacker)</h3>
                                    <br>
                                    <p>"Après une expérience de Growth Hacker et Lion de The Family, il me fallait des compétences en code, et The_Hacking_Project était pile poil ce que je cherchais. J'ai adoré l'émulation qui ressortait du groupe."</p>
                                    <br>
                                    <br>
                                  </div>
                                </div>
                              </div>
                           
                              
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                                <div class="thumbnail">
                                  <%= image_tag ('charles_avion.jpg'), class:"img-responsive"%>
                                  <div class="caption">
                                    <h3>Charles (Ex-CEO, DG The Hacking Project)</h3>
                                    <br>
                                    <p>"C’etait hard, mais je me suis accroché et aujourd’hui je ne regrette pas d’avoir dit non à un CDI pour commencer The_Hacking_Project. Je peux dev mes propres scripts!"</p>
                                    <br>
                                    <br>
                                  </div>
                                </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                                <div class="thumbnail">
                                  <%= image_tag ('elise.jpg'), class:"img-responsive"%>
                                  <div class="caption">
                                    <h3>Elise (Marketeuse)</h3>
                                    <br>
                                    <p>"Cette aventure m'a permis de mieux dompter les problématiques techniques, d'en connaitre enjeux et les limites et de développer mon propre site en quelques mois."</p>
                                    <br>
                                    <br>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--
        ==================================================
        Call To Action Section Start
        ================================================== -->
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Cette formation a l'air top.</h1>
                            <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Avant de poser mes questions directement à Charles au 06 95 46 60 80 je peux regarder la FAQ avec toutes les questions fréquentes</p>
                            <%= link_to ("Je veux voir la FAQ"), faq_path, class:"btn btn-default btn-contact wow fadeInDown"%>
                            <%= link_to ("Je veux m'inscrire"), inscription_path, class:"btn btn-default btn-contact wow fadeInDown"%>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>