<br>
<br>
<br>
<br>
<br>



<div>

<%= form_for @surveys, url: survey_path do |f| %>
								  
<%= @surveys.errors.full_messages.join(', ') %>
<div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
<%= f.text_field :first_name, placeholder: 'Prenom',class: "form-control" %>
</div>
<div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
<%= f.text_field :last_name, placeholder: 'Nom',class: "form-control" %>
</div>
<div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
<%= f.number_field :age, placeholder: 'age',class: "form-control" %>
</div>
<div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
<%= f.email_field :email, placeholder: 'email',class: "form-control" %>
</div>
<div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
<%= f.text_area :body, placeholder: 'Message',class: "form-control", id: "message" %>
</div>
								  
<%= f.submit 'Envoyer mon formulaire <3'%>
								  
<% end %>

</div>