<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The hacking project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
   <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="timer/css/bootstrap.min.css">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="timer/css/ionicons.min.css">
        <!-- animate css -->
        <link rel="stylesheet" href="timer/css/animate.css">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="timer/css/slider.css">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="timer/css/owl.carousel.css">
        <link rel="stylesheet" href="timer/css/owl.theme.css">
        <link rel="stylesheet" href="timer/css/jquery.fancybox.css">
        <!-- template main css file -->
        <link rel="stylesheet" href="timer/css/main.css">
        <!-- responsive css -->
        <link rel="stylesheet" href="timer/css/responsive.css">
        <script src="timer/js/map.js"></script>
  </head>

  <body>
  <%= render 'layouts/header'%>
    <%= yield %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Template Javascript Files
        ================================================== -->
        <!-- modernizr js -->
        <script src="timer/js/vendor/modernizr-2.6.2.min.js"></script>
        <!-- jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- owl carouserl js -->
        <script src="timer/js/owl.carousel.min.js"></script>
        <!-- bootstrap js -->

        <script src="timer/js/bootstrap.min.js"></script>
        <!-- wow js -->
        <script src="timer/js/wow.min.js"></script>
        <!-- slider js -->
        <script src="timer/js/slider.js"></script>
        <script src="timer/js/jquery.fancybox.js"></script>
        <!-- template main js -->
        <script src="timer/js/main.js"></script>
  </body>
</html>
